# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
logs/

# Database
*.db
*.sqlite3

# Environment variables
.env
.env.local

# Cache
.cache/

# Coverage
htmlcov/
.coverage
.coverage.*
.coverage.*.c

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/
cli.bat
gui.bat
EmailDupFinder.exe
email_cleaner_gui.exe
EmailDuplicateCleaner.7z
lang/lang_BCK.py
